<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load user_filters %}
{% load static %}
<main role="main" class="container">
    <div class="row">
      <!-- Левый вспомогательный блок -->
          <div class="card-body">
            <ul class="list-group list-group-flush">
                <div class="h3">
                    Об авторе:
                </div>
                <div class="h6 text-muted">
                    <hr>
                    <p><a href="https://github.com/nick-rebrik">GitHub</a></p>
                    <p><a href="https://www.instagram.com/nick.rebrik/">Instagram</a></p>
                </div>
            </ul>
          </div>
      <!-- Тело страницы -->
      <div class="col-md-9">
        <div class="card-body">
          <div class="card-text">
            <p>
                Всем привет, меня зовут Коля и я программист!<br>
                Всю свою жизнь я был очень близок с компьютером, но программирование считал
                очень сложной и непонятной штукой, но у программирования на меня были другие планы :)
                Когда я все же решился попробовать себя в этом деле, перед мной стала одна проблема -
                какой же язык выбрать для изучения. В общем все попытки заканчивались на етом етапе...<br>
                Но после случайно просмотренного ролика на ютубе про нейронную сеть которая сама играет в тетрис,
                я узнал о пайтоне. Тут все пазлы и сложились! Было принято решение стать мастером, в професии
                Machine learning, но как оказалось то знание математики и моё, шли разными путями. Но все же
                пайтон полюбить я уже успел и решил попробовать на вкус бек-енд. Так я и оказался в етом
                увлекательном приключении под названием "Яндекс.Практиму Python Програмист" :)
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}