{% extends "base.html" %}
{% block title %}Последние обновления на сайте{% endblock %}
{% block header %}Последние обновления избранных авторов{% endblock %}
{% block content %}

    {% include "mini_templates/menu.html" with follow=True %}

    {% load cache %}
    {% cache 20 follow_page %}
        {% for post in page %}
            {% include 'mini_templates/post_post.html' with post=post homepage=True %}
        {% endfor %}
    {% endcache %}

    {% include "paginator.html" with page=page %}

{% endblock %}