{% extends "base.html" %}
{% block title %}Записи сообщества {{ group.title }}{% endblock %}
{% block header %}{{ group.title }}{% endblock %}
{% block description %}{{ group.description | linebreaksbr }}{% endblock %}
{% block content %}

    {% for post in posts %}
        <div class="card mb-3 mt-1 shadow-sm">
                <div class="card-body">
                    <h3>
                        Автор:
                        {% if post.author.get_full_name %}
                            {{ post.author.get_full_name }},
                        {% else %}
                            {{ post.author }},
                        {% endif %}
                        дата публикации: {{ post.pub_date|date:"d M Y" }}
                    </h3>
            {% if post.image %}
                </div>
            {% endif %}
            {% load thumbnail %}
            {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
                <img  src="{{ im.url }}">
            {% endthumbnail %}
            {% if post.image %}
                <div class="card-body">
            {% endif %}
                    <p class="card-text">
                        {{ post.text|linebreaksbr }}
                    </p>
                </div>
        </div>
    {% endfor %}

    {% include "paginator.html" with page=posts %}

{% endblock %}

