{% if user.is_authenticated %}
    <div class="card mb-3 mt-1 shadow-sm">
      <form method="post" action="{% url 'add_comment' username=author post_id=post.id %}">
          {% csrf_token %}
          <h5 class="card-header">Добавить комментарий:</h5>
          <div class="card-body">
              <div class="form-group">
                  {{ form.text }}
              </div>
              <button type="submit" class="btn btn-primary">Отправить</button>
          </div>
      </form>
    </div>
{% endif %}
